html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

.pointer {
  cursor: pointer;
}

.card-footer-with-buttons {
  display: flex;
  justify-content: flex-end;
  & > button {
    margin: 0 10px;
  }
}

@media (max-width: 599px) {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 64px !important;
  }
}
