<mat-sidenav-container class="side-nav-container">
  <mat-sidenav class="side-nav" #sidenav opened="false" [mode]="'side'" [fixedInViewport]="false" fixedTopGap="64">
    <ul>
      <li><a id="recipes-router-link" [routerLink]="getRouterLink(routeConstants.recipes)" routerLinkActive="active-menu">Recipes</a></li>
      <li>
        <a id="add-recipe-router-link" [routerLink]="getRouterLink(routeConstants.editRecipe)" routerLinkActive="active-menu">Add recipe</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
