:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.edit-recipe-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  min-width: 350px;
}

.edit-recipe-footer {
  display: flex;
  justify-content: flex-end;
}
