<ng-container *ngIf="recipe">
  <mat-card class="recipe-card">
      <mat-card-header>
        <mat-card-title>{{recipe.title}}</mat-card-title>
        <mat-card-subtitle>{{recipe.createdDate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="recipe-card-content">
        {{recipe.description}}
      </mat-card-content>
        <div class="card-footer-with-buttons">
          <button mat-raised-button color="primary" (click)="editRecipe(recipe.id)">Edit</button>
          <button mat-raised-button color="primary" (click)="goToRecipeHistory(recipe.id)">History</button>
        </div>
  </mat-card>
</ng-container>
